<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF9XkTm0Av0cQ_aKhRSt7B3CPaghqEtOs</string>
	<key>GCM_SENDER_ID</key>
	<string>829616476420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khang.nguyen.CarAssist</string>
	<key>PROJECT_ID</key>
	<string>carassist-39d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>carassist-39d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829616476420:ios:b9984631cc459a08cd0051</string>
</dict>
</plist>